h1,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
.App {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left {
  gap: 20px;
}

.nav-right {
  gap: 5px;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.nav-icon-container > img {
  width: 20px;
  height: 20px;
}

.nav-icon-container > p {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
}

footer > a > img {
  width: 30px;
  height: 30px;
}

.page {
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
}

.home .section1 {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.shop-button {
  background-color: #222;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 8rem;
  text-align: center;
}

.shop-button:hover {
  background-color: white;
  color: black;
}

.home .section1 img {
  width: 100%;
  position: relative;
  opacity: 0.6;
}

.home .section1 .overlay {
  position: absolute;
  top: 18rem;
  font-weight: bold;
  font-size: 30px;
}

.home .hero {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50rem;
}
.home .section1:after {
  background: #0000006c;
  content: "";
}
