.App {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  margin-left: 1rem;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left {
  gap: 20px;
}

.nav-right {
  gap: 5px;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.nav-icon-container > img {
  width: 20px;
  height: 20px;
}

.nav-icon-container > p {
  padding: 0;
  margin: 0;
}

main {
  background-color: white;
}

footer {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  padding: 1rem;
}

footer > a > img {
  width: 30px;
  height: 30px;
}
