h1,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.App {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  flex-wrap: wrap;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left {
  gap: 20px;
}

.nav-right {
  gap: 5px;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.nav-icon-container > img {
  width: 20px;
  height: 20px;
}

.nav-icon-container > p {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
}

footer > a > img {
  width: 30px;
  height: 30px;
}

.page {
  min-height: 100vh;
}

/* home page */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
  background-color: black;
}

.shop-button {
  background-color: #222;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 8rem;
  text-align: center;
}

.shop-button:hover {
  background-color: white;
  color: black;
}

.hero-section img {
  width: 100%;
  position: relative;
  opacity: 0.6;
}

.hero-section .overlay {
  position: absolute;
  top: 18rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.home .hero {
  color: white;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  gap: 10px;
  margin-right: 2rem;
}

.home .hero-section:after {
  background: #0000006c;
  content: "";
}

.featured-items-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  flex-grow: 1;
  flex-basis: 0;
  height: 300px;
  min-width: 33.33%;
  border: 2px solid white;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.category-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.category-item-inner > div {
  padding: 5px 10px;
  background: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.category-title {
  padding: 10px;
  font-size: 41px;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description1,
.description2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.description2 {
  justify-content: flex-end;
}

.description1 > img,
.description2 > img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-left: 52px;
}

.description2 > img {
  justify-self: end;
  margin-right: 52px;
}

.contact-section {
  align-self: flex-start;
  padding: 50px;
  font-size: 1.3rem;
}

/* shop page */

.shop {
  display: flex;
  flex-direction: column;
}

.page-title {
  font-size: 45px;
  padding: 30px;
  text-decoration: underline;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem;
  padding: 3rem;
}

.product-card {
  display: grid;
  grid-template-rows: 1fr 0fr 0fr 0fr 0fr;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1rem;
}

.product-card > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-size: 1.3rem;
}

.product-image {
  justify-self: center;
  align-self: center;
  max-width: 75%;
  max-height: 75%;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-ratings {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.product-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

/* .product-button {
  border: none;
  background-color: rgb(245, 245, 66);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  border: black solid 1px;
} */

.product-button {
  color: #0f1111;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(255, 216, 20);
}

.product-button:hover {
  background-color: rgb(238, 198, 0);
}

.product-rating-count {
  color: rgb(104, 103, 103);
}

.heart-icon {
  width: 40px;
  cursor: pointer;
}

.wishlist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem;
  padding: 3rem;
}

.wishlist-empty-message {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem;
}

/* product details page */

.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 112px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-image {
  max-width: 595px;
  max-height: 404px;
}

.item-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-detail-title {
}

.product-detail-category {
  color: #424242;
}

.product-ratings {
}

.product-detail-price {
  font-size: 41px;
}

.product-detail-description {
}

@media (max-width: 1000px) {
  .category-item {
    min-width: 50%;
  }

  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .category-item {
    min-width: 100%;
  }

  .products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description1,
  .description2 {
    display: flex;
    flex-direction: column;
  }

  .description1 > img,
  .description2 > img {
    margin: 0;
  }

  .product-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 112px;
  }
}
